@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 1.2em;
    overflow-x: none;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: lightgray;
    margin-block: 0.25em;
    border-radius: 0.3em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #83d0f5;
    background: -webkit-linear-gradient(to right, #83d0f5, #1d71b8);
    background: linear-gradient(to right, #83d0f5, #1d71b8);
    border-radius: 0.3em;
}

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}

img {
    width: auto;
}

body {
    color: var(--text-color)
}

.container {
    max-width: 1500px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

.section-title {
    color: #83d0f5;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.nav {
    color: black;
    padding: 10px;
    text-align: center;
}

.nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.hamburger {
    display: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: gray;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 100%;
    width: 60vh;
    min-height: 26.875rem;
    display: block;
    background-color: #fff;
    margin-top: 4.3125rem;
    box-shadow: 20px 20px 20px hsl(0 4% 15% / 10%);
    border: solid 1px whitesmoke;
    padding-top: 1.25rem;
    transition: 0.4s;
    z-index: 100;
}

.hamburger-nav.is-active {
    left: auto;
}

.hamburger-nav a {
    display: block;
    width: 100%;
    max-width: 12.5rem;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #1d71b8;
    color: #fff;
    margin-top: 30px;
}

@media (max-width: 480px) {
    .hamburger-nav {
        width: 47vh;
    }
}

.hamburger-nav a:hover {
    background-color: #83d0f5;
    color: #004070;
}

.logo {
    height: 2.5rem;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

.head-cart {
    float: right;
    margin-left: auto;
}

.head-menu {
    margin-left: 3.125rem;
}


.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart.active {
    right: 0;

}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.deatail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 0.9375rem;
}

.cart-price {
    font-weight: 400;
    margin-top: 0.9375rem;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.9375rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 700;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.btn-buy:hover {
    background: var(--text-color);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: 2rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 7rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 7rem;
}

@media (max-width: 480px) {
    .shop-content {
        gap: 2rem;
    }
}

.product-box {
    position: relative;
    z-index: 0;
}

@media (max-width: 480px) {
    .product-box i {
        margin-left: 329px;
    }
}

.product-box:hover {
    padding: 5px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 400;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer
}

.add-cart:hover {
    background: hsl(249, 32%, 17%);
}

footer {
    background-color: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 0.8vw;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 700px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 0.7vw;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}

.socials a:hover {
    color: #83d0f5;
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0;
    padding-left: 20px;
}

.footer-bottom p {
    font-size: 0.5vw;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media (max-width: 480px) {
    footer {
        background-color: #fff;
    }

    .footer-content {
        display: none;
        background-color: #fff;
    }

    .socials {
        display: none;
    }
}

/* Breakpoint / Making Responsive */
@media (max-width: 1080px) {
    .nav {
        padding: 15px;
    }

    section {
        padding: 3rem 0 2rem;
    }

    .container {
        margin: 0 auto;
        width: 90%;
    }

    .shop {
        margin-top: 2rem !important;
    }
}

@media (max-width: 400px) {
    .nav {
        padding: 11px;
    }

    .logo {
        font-size: 1rem;
    }

    .cart {
        width: 320px;
    }
}

@media (max-width: 360px) {
    .shop {
        margin-top: 2rem !important;
    }
}